

.register{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form{
    width: 700px;
}

.submit-button{
    width: 75% !important;


}

@media (max-width: 792px){
    .register-form{
        width: 100%;
    }
    .submit-button{
        width: 100% !important;
    }
}